<!DOCTYPE html>
@{
  Layout="Shared/_Layout.cshtml";
}

  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Happy Heads Hair Salon</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3>Stylist @Model.GetName()</h3>
        <h4>Client List</h4>
        <ul>
        @foreach(var client in Model.FindClients())
        {
          <li><a href="/client/@client.GetId()">
          @client.GetName()</a></li>
        }
        </ul>
        <hr>
        <h5><a href="/stylist/edit/@Model.GetId()">Edit this stylist</a></h5>
        <form action="/stylist/delete/@Model.GetId()" method="post">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger" type="submit">Delete this stylist and assigned clients</button>
        </form>
        <hr>
        <h5><a href="/client/add/">Add new client</a></h5>
        <h5><a href="/">Home</a>
      </div>
    </div>
  </div>
